<!DOCTYPE html>
<html lang="en">
<head>
<title>BusuUcsal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
}


.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}


.topnav {
    overflow: hidden;
    background-color: #62b3e8;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav a:hover {
    background-color: #ddd;
    color: blue;
}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
</style>

</head>
<body>

<div class="header">
  <h1>Seja bem vindo ao BusUcsal </h1>
  <p>Site feito para você, estudante, onde pode conferir os horários e os roteiros</p>
</div>

<div class="topnav">
  <a href="#">Roteiros</a>
</div>

<div class="row">
  <div class="column">
    <h2>Itinerário</h2>
    <img src="http://noosfero.ucsal.br/institucional/imagens-de-artigos/roteiro-busucsal-01-3"height="450" width="400">

    <p>.</p>
  </div>
  <div class="column">
    <p.</p>
  </div>
  <div class="column">
    <h2>Sugestões e Opiniões</h2>
    <p>Diga o que você achou do site, nos dê sua opinião</p>
  </div>
</div>

</body>
</html>